---
import DarkLayout from "@/layouts/DarkLayout.astro";
import MicroPiano from "@/components/MicroPiano.astro";
import MicroGlyph from "@/components/MicroGlyph.astro";
import MicroButton from "@/components/MicroButton.astro";

import IconCross from "@/assets/icon_cross.svg";
---

<DarkLayout
  className="Piano_overflowHidden"
  head={{ title: "Piano" }}
  showGrid={true}
  showHomeLink={true}
  homePageHint="There's basically nothing to see here..."
>
  <div class="Piano">
    <input type="checkbox" id="Piano_focus" />
    <div class="Piano_container">
      <div class="Piano_wrapper">
        <MicroPiano startOctave={4} octaveCount={2} />
      </div>
      <div class="Piano_focus">
        <MicroButton
          labelId="Piano_focus"
          intent="success"
          variant="secondary"
          label="Play"
        />
      </div>
      <MicroButton
        className="Piano_close"
        labelId="Piano_focus"
        intent="neutral"
        variant="tertiary"
        icon={IconCross}
      />
    </div>

    <div class="Piano_footer">
      <div class="Piano_hint">
        Who can forbid me to do some weird stuff with code?!
      </div>
      <MicroGlyph />
    </div>
  </div>
</DarkLayout>

<style>
  .Piano {
    height: 100%;
    display: grid;
    gap: 16px;
    grid-template-rows: 1fr auto;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
  }

  .Piano_wrapper {
    width: 600px;
    height: 240px;
  }

  #Piano_focus,
  .Piano_focus {
    display: none;
  }

  .Piano_container {
    width: 100dvw;
    display: flex;
    justify-content: center;
    align-items: start;
  }

  @media (max-width: 600px) {
    .Piano {
      position: relative;
      height: 100%;
      display: flex;
      gap: 16px;
      align-items: start;
      flex-grow: 1;
    }

    .Piano_wrapper {
      transition: transform 0.1s ease-in-out;
      transform: scale(1.1) rotate(-90deg) translateX(-50%);
      transform-origin: center center;

      --rotate: -1;
    }

    .Piano_focus {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(
        to bottom,
        transparent,
        var(--color-underpaper)
      );
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .Piano_footer {
      display: none;
    }

    #Piano_focus:checked + .Piano_container .Piano_focus {
      display: none;
    }
    #Piano_focus:checked + .Piano_container .Piano_wrapper {
      transform: scale(1.1) rotate(-90deg);
    }

    #Piano_focus:checked + .Piano_container {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 10;
      width: 100dvw;
      height: 100dvh;
      display: flex;
      background-color: var(--color-underpaper);
      justify-content: center;
      align-items: center;
    }
  }

  .Piano_hint {
    font-family: "Georgia";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;

    color: var(--color-white-50);
    font-style: normal;
  }
</style>

<style is:global={true}>
  .Piano_close.Piano_close {
    display: none;
  }

  @media (max-width: 600px) {
    #Piano_focus:checked + .Piano_container .Piano_close {
      position: fixed;
      top: 8px;
      right: 8px;
      display: flex;
    }

    .Piano_overflowHidden {
      height: 100dvh;
      overflow: hidden;
    }
  }
</style>
