---
import { Image } from "astro:assets";

import DarkLayout from "@/layouts/DarkLayout.astro";
---

<DarkLayout>
	<div class="Team">
		<h1>We work for Better Tomorrow</h1>

		<p>
			We're constantly referring to some "we," so let's spill some light
			on our humble design cartel.
		</p>

		<div>
			Alexander (Sasha) Litvinovich Product Designer / Art Director / Tech
			enthusiast
		</div>

		<div>Elena Ivanova Product Designer</div>

		<div>Pixel Senior Poop Engineer / Clogged Pipeline Expert</div>

		<div>Coúsya Middle Poop Engineer / Scratch Creator</div>
	</div>
</DarkLayout>
