---
import IconArrow from "../assets/icon-arrow.svg";

const {
	key = "Key",
	value = "Value",
	vertical = false,
	url = "",
} = Astro.props;

const Element = url.length ? "a" : "div";
---

<Element
	class:list={[
		"DonateAccount",
		{ _vertical: vertical },
		{ _url: url.length },
	]}
	href={url}
	target="_blank"
>
	<span class="DonateAccount_key">{key}:</span>
	<span class="DonateAccount_value">
		{value}
		{url && <IconArrow />}
	</span>

	<style>
		.DonateAccount {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			gap: 8px;

			padding: 16px;
			border-radius: 8px;

			color: #000000;
			background-color: var(--color-paper);

			text-decoration: none;
		}

		.DonateAccount._vertical {
			flex-direction: column;
		}

		.DonateAccount._vertical .DonateAccount_value {
			text-align: left;
			word-break: break-all;
		}

		.DonateAccount_value {
			font-family: "Roboto Mono";
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 24px;

			text-align: right;
			letter-spacing: -0.03em;

			color: #000000;

			vertical-align: baseline;
		}

		.DonateAccount._url .DonateAccount_value {
			color: var(--color-violet);
		}

		@media (pointer: fine) {
			.DonateAccount._url,
			.DonateAccount._url .DonateAccount_value,
			.DonateAccount._url .DonateAccount_key {
				transition: all 0.2s ease;
			}
			.DonateAccount._url:hover {
				background-color: var(--color-violet);
			}

			.DonateAccount._url:hover .DonateAccount_value,
			.DonateAccount._url:hover .DonateAccount_key {
				color: #fff;
			}
		}
	</style>
</Element>
