---
const { texts } = Astro.props as { texts: [] };
---

<div class="MicroDesk">
  <div class="MicroDesk_grid">
    {texts.map((text) => <div class="MicroDesk_text">{text}</div>)}
  </div>
</div>

<style>
  .MicroDesk {
    margin: 0 var(--side-paddings);
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .MicroDesk_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }

  .MicroDesk::before {
    content: "";
    display: block;
    background-color: var(--color-white-30);
    height: var(--border-width);
    border-radius: calc(var(--border-width) / 2);
  }

  .MicroDesk_text {
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;

    color: var(--color-white-30);
  }
</style>
