---
import { Image } from "astro:assets";
import ava from "@/assets/avatar.png";

const grid = Array(15).fill(0);
---

<>
  <div class="MicroAvatar_face">
    <div class="MicroAvatar_bgGlare"></div>
    <div class="MicroAvatar_faceCompose">
      <Image class="MicroAvatar_faceImage" src={ava} alt="" />
      <div class="MicroAvatar_faceMask linear"></div>
    </div>
    <div class="MicroAvatar_ring pos _10">
      <div class="MicroAvatar_ring _20">
        <div class="MicroAvatar_ring _30">
          <div class="MicroAvatar_ring _noPadding">
            <div class="MicroAvatar_grid">
              <div class="MicroAvatar_gridHorizontal">
                {grid.map((el) => <div class="MicroAvatar_bar" />)}
              </div>
              <div class="MicroAvatar_gridVertical">
                {grid.map((el) => <div class="MicroAvatar_bar" />)}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="MicroAvatar_flareLeft"></div>
  <div class="MicroAvatar_flareRight"></div>
</>

<style>
  .MicroAvatar_face {
    position: relative;
    margin-top: -100%;
    margin-left: -100%;
    width: 300%;
    pointer-events: none;
    aspect-ratio: 1;
  }

  .MicroAvatar_bgGlare {
    position: absolute;
    top: 0;
    left: 0;

    z-index: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(
      50% 50% at 50% 50%,
      var(--color-white-50) 0%,
      transparent 70%
    );
  }

  .MicroAvatar_faceCompose {
    mix-blend-mode: multiply;
  }

  .MicroAvatar_faceImage {
    width: 100%;
    height: 100%;
    display: flex;

    /* z-index: 1; */
  }

  .MicroAvatar_faceMask {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
  }
  .MicroAvatar_faceMask.linear {
    background: linear-gradient(
      180deg,
      transparent 0%,
      transparent 75%,
      #fff 90%
    );
  }
  .MicroAvatar_faceMask.radial {
    background: radial-gradient(50% 50% at 50% 50%, transparent 0%, #fff 100%);
  }

  .MicroAvatar_ring.pos {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    width: 70%;
    transform: translate(-50%, -50%);
  }

  .MicroAvatar_ring {
    padding: 24px;
    border: 1px solid var(--color-white-30);
    border-radius: 50%;
    aspect-ratio: 1;
  }

  .MicroAvatar_ring._10 {
    border-color: var(--color-white-10);
  }
  .MicroAvatar_ring._20 {
    border-color: var(--color-white-20);
  }
  .MicroAvatar_ring._30 {
    border-color: var(--color-white-20);
  }

  .MicroAvatar_ring._noPadding {
    padding: 0px;
  }
  .MicroAvatar_grid {

    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 50%;
  }

  .MicroAvatar_gridHorizontal,
  .MicroAvatar_gridVertical {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
  }
  .MicroAvatar_gridHorizontal {
    flex-direction: row;
  }
  .MicroAvatar_gridVertical {
    flex-direction: column;
  }

  .MicroAvatar_gridHorizontal .MicroAvatar_bar {
    width: 1px;
    height: 100%;
  }

  .MicroAvatar_gridVertical .MicroAvatar_bar {
    width: 100%;
    height: 1px;
  }

  .MicroAvatar_bar {
    background-color: var(--color-white-20);
  }

  .MicroAvatar_gridVertical .MicroAvatar_bar:first-child,
  .MicroAvatar_gridVertical .MicroAvatar_bar:last-child,
  .MicroAvatar_gridHorizontal .MicroAvatar_bar:first-child,
  .MicroAvatar_gridHorizontal .MicroAvatar_bar:last-child {
    background-color: transparent;
  }

  .MicroAvatar_flareLeft {
    position: fixed;
    top: -35dvw;
    left: -35dvw;
    width: 80dvw;
    height: 80dvw;

    background: radial-gradient(
      50% 50% at 50% 50%,
      var(--color-green) 0%,
      transparent 100%
    );

    animation: left-flare 1s linear forwards;
    pointer-events: none;
    animation-timeline: --scroller;
    mix-blend-mode: screen;
  }
  .MicroAvatar_flareRight {
    position: fixed;
    top: 20dvw;
    right: -80dvw;
    width: 160dvw;
    height: 80dvw;

    background: radial-gradient(
      50% 50% at 50% 50%,
      var(--color-violet) 0%,
      transparent 100%
    );
    opacity: 0.7;

    animation: right-flare 1s linear forwards;
    pointer-events: none;
    animation-timeline: --scroller;
    mix-blend-mode: screen;
  }

  @keyframes left-flare {
    0% {
      top: -35dvw;
      left: -35dvw;
      opacity: 1;
    }
    50% {
      top: 40dvw;
      left: -60dvw;
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes right-flare {
    0% {
      top: 20dvw;
      right: -80dvw;
      opacity: 1;
    }
    100% {
      top: -80dvw;
      right: -160dvw;
      opacity: 0;
    }
  }
</style>
