---
import UnstCross from "@/assets/unst_cross.svg";
---

<div class="MicroGlyph">
  <UnstCross />
</div>

<style>
  .MicroGlyph {

    padding: 40px;
    display: flex;

    color: var(--color-white-30);
    align-items: center;
    justify-content: center;
  }
</style>
