---
import Asterisk from "@/assets/asterisk.svg";
---

<div class="MicroMotd">
  <Asterisk class="MicroMotd_asterisk" />
  <p class="MicroMotd_text">
    Want a fancy micro landing page?
    <a href="/offering/">Check out GitHub for DIY example</a>
    or&nbsp;<a href="/offering/">order Design Services</a>
  </p>
</div>

<style>
  .MicroMotd {
    margin: 0 var(--side-paddings);

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;

    color: var(--color-white-30);

    /* max-width: 400px; */
  }

  .MicroMotd_asterisk {
    width: 40px;
    aspect-ratio: 1;
  }

  .MicroMotd_text {
    padding: 0;
    margin: 0;

    font-family: "Roboto Mono";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
  }

  .MicroMotd_text a {
    color: var(--color-blue);
    text-decoration: none;

    transition: all 250ms ease-in-out;
  }

  @media (pointer: fine) {
    .MicroMotd_text a:hover {
      color: var(--color-white-30);
      text-shadow:
        0 0 5px var(--color-blue),
        0 0 0px var(--color-blue);
    }
  }
</style>
