---
import { Image } from "astro:assets";

const { name, net, url, src = "" } = Astro.props;

// TODO: Add hover
---

<a class="SocialAccount" href={url}>
	<div class="SocialAccount_image">
		<Image src={src} alt="" />
	</div>
	<span class="SocialAccount_name">{name}</span>
	<span class="SocialAccount_net">{net}</span>
</a>

<style>
	.SocialAccount {
		display: grid;
		grid-template-columns: auto 1fr auto;
		gap: 12px;
		color: #000;
		text-decoration: none;
		align-items: center;
	}

	.SocialAccount_image {
		width: 48px;
		height: 48px;
		border-radius: 50%;
		overflow: hidden;
		background-color: var(--color-paper);
	}

	.SocialAccount_image img {
		width: 100%;
		height: 100%;
	}

	.SocialAccount_name {
	}

	.SocialAccount_net {
		text-align: right;
		color: var(--color-violet);
	}
</style>
