---
import BaseLayout from "./BaseLayout.astro";
import bg from "@/assets/bg-grid.png";

import Portal from "@/assets/Portal.svg";

const {
  head,
  className = "",
  showGrid = false,
  showHomeLink = false,
  homePageHint = "",
} = Astro.props;
---

<BaseLayout head={head}>
  <div class:list={["DarkLayout", className, showGrid && "_showGrid"]}>
    {showGrid && <div class="DarkLayout_gridBg" />}
    {
      showHomeLink && (
        <div class="DarkLayout_homePageBlock">
          <a href="/" class="DarkLayout_homePageLink">
            <Portal /> Go Back Home
          </a>
          <div class="DarkLayout_hint">{homePageHint}</div>
        </div>
      )
    }
    <div class="DarkLayout_wrapper">
      <slot />
    </div>
  </div>
</BaseLayout>

<style define:vars={{ backgroundUrl: `url(${bg.src})` }}>
  html,
  body {
    color: #fff;
    background-color: #222;
  }

  .DarkLayout {
    position: relative;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    gap: 0;

    --side-paddings: 24px;
  }

  ._showGrid .DarkLayout_gridBg {
    display: block;
  }
  ._showGrid .DarkLayout_wrapper {
    z-index: 1;
  }

  .DarkLayout_gridBg {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;

    z-index: 0;

    height: 50dvh;
    display: none;
    background-image: var(--backgroundUrl);
    background-position: center;
    mask-image: linear-gradient(#000, transparent);
  }

  .DarkLayout_wrapper {
    margin: 0 auto;
    padding: 0;

    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
    flex-grow: 1;
    /* align-items: center; */

    max-width: 640px;
  }

  .DarkLayout_homePageBlock {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: center;
    /* z-index: 10; */
  }

  .DarkLayout_homePageLink {
    position: relative;
    padding-right: 12px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    font-size: 30px;
    font-weight: 700;
    line-height: 32px;
    color: #15ec67;
    user-select: none;
    letter-spacing: -0.05em;
    align-items: center;
  }

  .DarkLayout_homePageLink::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border-style: solid;
    border-width: 4px;
    border-color: var(--color-green) var(--color-green) transparent transparent;
  }

  @media (pointer: fine) {
    .DarkLayout_homePageLink:hover {
      animation: text-blink 400ms ease-in-out infinite;
    }

    .DarkLayout_homePageLink:hover::before {
      border-color: var(--color-white-30) var(--color-white-30) transparent
        transparent;
    }
  }

  .DarkLayout_hint {
    font-family: "Georgia";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;

    color: var(--color-white-50);
    font-style: normal;
  }

  @keyframes text-blink {
    0% {
      color: var(--color-green);
      text-shadow: none;
    }
    50% {
      color: var(--color-white);
      text-shadow: 0 0 16px var(--color-green);
    }
    100% {
      color: var(--color-green);
      text-shadow: none;
    }
  }
</style>
