---
import BaseLayout from "./BaseLayout.astro";
import bg from "@/assets/bg-grid.png";

const { head, class: additionalClasses = [], showGrid = false } = Astro.props;
---

<BaseLayout head={head}>
  <div
    class:list={["DarkLayout", ...additionalClasses, showGrid && "_showGrid"]}
  >
    {showGrid && <div class="DarkLayout_gridBg" />}
    <div class="DarkLayout_wrapper">
      <slot />
    </div>
  </div>
</BaseLayout>

<style define:vars={{ backgroundUrl: `url(${bg.src})` }}>
  html,
  body {
    color: #fff;
    background-color: #222;
  }

  .DarkLayout {
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 32px;

    --side-paddings: 24px;
  }

  ._showGrid .DarkLayout_gridBg {
    display: block;
  }
  ._showGrid .DarkLayout_wrapper {
    z-index: 1;
  }

  .DarkLayout_gridBg {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;

    z-index: 0;

    height: 50dvh;
    display: none;
    background-image: var(--backgroundUrl);
    background-position: center;
    mask-image: linear-gradient(#000, transparent);
  }

  .DarkLayout_wrapper {
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 32px;

    max-width: 640px;
  }
</style>
