---
import BaseLayout from "./BaseLayout.astro";
const { head, class: additionalClasses = "" } = Astro.props;
---

<BaseLayout head={head}>
  <div class={`DarkLayout ${additionalClasses}`}>
    <slot />
  </div>
</BaseLayout>

<style>
  html,
  body {
    color: #fff;
    background-color: #222;
  }

  .DarkLayout {
    margin: 0 auto;
    padding: 0;

    --side-paddings: 24px;

    display: flex;
    flex-direction: column;
    gap: 32px;

    max-width: 640px;
  }
</style>
